[submodule "bundle/vim-pathogen"]
	path = bundle/vim-pathogen
	url = git://github.com/antond/vim-pathogen
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = git://github.com/antond/vim-fugitive.git
[submodule "bundle/rails"]
	path = bundle/rails
	url = git://github.com/antond/vim-rails.git
[submodule "bundle/Command-T"]
	path = bundle/Command-T
	url = git://github.com/antond/Command-T.git
[submodule "bundle/vim-rooter"]
	path = bundle/vim-rooter
	url = git://github.com/antond/vim-rooter
