[submodule "bundle/vim-pathogen"]
	path = bundle/vim-pathogen
	url = git://github.com/antond/vim-pathogen
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = git://github.com/antond/vim-fugitive.git
[submodule "bundle/vim-rails"]
	path = bundle/vim-rails
	url = git://github.com/antond/vim-rails.git
[submodule "bundle/Command-T"]
	path = bundle/Command-T
	url = git://github.com/antond/Command-T.git
[submodule "bundle/vim-rooter"]
	path = bundle/vim-rooter
	url = git://github.com/antond/vim-rooter
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git://github.com/antond/nerdtree.git
[submodule "colors/railscasts"]
	path = colors/railscasts
	url = git://github.com/antond/VIM-Railscasts-Color-Theme.git
[submodule "bundle/html5.vim"]
	path = bundle/html5.vim
	url = git@github.com:antond/html5.vim.git
[submodule "bundle/scss-syntax.vim"]
	path = bundle/scss-syntax.vim
	url = git@github.com:antond/scss-syntax.vim.git
[submodule "bundle/vim-coffee-script"]
	path = bundle/vim-coffee-script
	url = git://github.com/antond/vim-coffee-script.git
[submodule "bundle/vim-ruby"]
	path = bundle/vim-ruby
	url = git://github.com/antond/vim-ruby.git
[submodule "bundle/vim-javascript"]
	path = bundle/vim-javascript
	url = git://github.com/antond/vim-javascript.git
[submodule "bundle/jquery.vim"]
	path = bundle/jquery.vim
	url = git@github.com:antond/jquery.vim.git
[submodule "bundle/sweet-rspec-vim"]
	path = bundle/sweet-rspec-vim
	url = git://github.com/antond/sweet-rspec-vim.git
[submodule "bundle/vim-cucumber"]
	path = bundle/vim-cucumber
	url = git://github.com/antond/vim-cucumber.git
[submodule "bundle/vim-slim"]
	path = bundle/vim-slim
	url = git://github.com/antond/vim-slim.git
[submodule "bundle/vim-haml"]
	path = bundle/vim-haml
	url = git://github.com/antond/vim-haml.git
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = git://github.com/antond/vim-markdown.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = git://github.com/antond/vim-surround.git
[submodule "bundle/vim-endwise"]
	path = bundle/vim-endwise
	url = git://github.com/antond/vim-endwise.git
[submodule "bundle/zencoding-vim"]
	path = bundle/zencoding-vim
	url = https://github.com/antond/zencoding-vim
[submodule "bundle/bufexplorer"]
	path = bundle/bufexplorer
	url = git://github.com/antond/bufexplorer.zip.git
[submodule "bundle/snipmate.vim"]
	path = bundle/snipmate.vim
	url = git@github.com:antond/snipmate.vim.git
[submodule "bundle/vim-rvm"]
	path = bundle/vim-rvm
	url = git@github.com:antond/vim-rvm.git
[submodule "bundle/vim-bundler"]
	path = bundle/vim-bundler
	url = git@github.com:antond/vim-bundler.git
[submodule "snippets"]
	path = snippets
	url = git@github.com:antond/snipmate-snippets.git
[submodule "bundle/Align"]
	path = bundle/Align
	url = git@github.com:antond/Align.git
[submodule "bundle/MatchTag"]
	path = bundle/MatchTag
	url = git://github.com/antond/MatchTag.git
