[submodule "bundle/vim-pathogen"]
	path = bundle/vim-pathogen
	url = git://github.com/antond/vim-pathogen
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = git://github.com/antond/vim-fugitive.git
